#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

/* Generic padding */
.main {
  text-align: center;
  padding: 25px 50px 25px 50px;
}
/* Field params */
.field {
  height: 550px;
  width: 805px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}
/* Dot positioning */
.dot {
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
}

.object {
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
}

.zombie {
  border: 1px solid #000;
  position: absolute;
  background-color: transparent;
}

.shot{
  border: 1px solid #000;
  position: absolute;
}

